* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
<<<<<<< HEAD
=======

>>>>>>> cd15bc6b73142c2013399cf7e60cb0cb03a35384
}


ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
<<<<<<< HEAD
    
    justify-content: center;
}

.header-link {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
=======
    margin-left: 500px;
    flex: 1 0 0;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    flex: 1;
>>>>>>> cd15bc6b73142c2013399cf7e60cb0cb03a35384
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    flex-direction: row;
<<<<<<< HEAD
    justify-content: center;
    flex: 1;
    margin-left: 100px;
=======
    flex: 1;
    padding-left: 100px;
>>>>>>> cd15bc6b73142c2013399cf7e60cb0cb03a35384
}

.header {
    background-color: #1F2937;
}

.header-left {
    display: flex;
<<<<<<< HEAD
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-right: 600px;
=======
    justify-content: center;
    align-items: center;
>>>>>>> cd15bc6b73142c2013399cf7e60cb0cb03a35384
}

.header-right {
    display: flex;
<<<<<<< HEAD
    flex-direction: column;
    align-items: center;
}

/*ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;*/
}

.hero {
    display: flex;
    flex-direction: column;
    column-gap: 100px;
=======
    justify-content: flex-end;
    align-items: center;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 300px;
    
>>>>>>> cd15bc6b73142c2013399cf7e60cb0cb03a35384
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

button {
    background-color: #3882F6;
    display: flex;
    width: 100px;
}

.title-pic {
    display: flex;
<<<<<<< HEAD
    margin-top: 200px;
    margin-bottom: 200px;
    justify-content: center;
    align-items: center;
    margin-right: 320px;
}

p {
    display: flex;
    margin: 50px, 0;
=======
    flex-wrap: wrap;
}

img {
    display: flex;
    padding
>>>>>>> cd15bc6b73142c2013399cf7e60cb0cb03a35384
}