* {
    padding: 0;
    margin: 0;
}

.first-section {
    background-color: #1f2937;
    height: 900px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    margin: 16px;
}

.hero {
    display: flex;
    margin-top: 300px;
    margin-left: 200px;
    margin-bottom: 300px;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-start;
    width: 900px;
    height: 179px;
    flex: 1;
    float: left;
}

.hero-main {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    width: 700px;
}

.header-logo {
    display: flex;
    margin: 16px;
    font-size: 24px;
    color: #F9FAF8;
}

.hero-description {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    width: 500px;
}

.sign-up {
    display: flex;
    width: 150px;
    height: 40px;
    background-color: #3882F6;
    text-align: center;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.sign-up:hover {
    background-color: hsl(.60, .91, .59);
  }
    
.sign-up:active {
    background-color: rgb(56, 75, 246);
    border-color: rgb(56, 75, 246);
  }


.buttontext1 {
    display: flex;
    text-align: center;
    margin: auto;
    color: #E5E7EB;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.sunrise {
    display: flex;
    width: 700px;
    height: 400px;
    margin-top: 170px;
}



.second-section {
    display: flex;
    height: 900px;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}


.random {
    display: flex;
    height: 100px;
    margin-top: 100px;
    font-size: 36px;
    color: #1f2937;
    
}

.blue-box {
    display: flex;
    height: 200px;
    width: 200px;
    border: 5px solid blue;
    border-radius: 10px;
}

.boxes {
    display: flex;
    height: 70px;
    gap: 180px;
    margin-top: 50px;
}

.boxes-captions {
    display: flex;
    justify-content: row;
    margin-top: 250px;
    gap: 32px;
}



.third-section {
    display: flex;
    height: 900px;
    background-color: #E5E7EB;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.quote {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.thor {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    justify-content: flex-end;
    font-size: 20px;
}



.fourth-section {
    display: flex;
    height: 700px;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.rectangle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
    background-color: #3882F6;
    height: 200px;
    width: 1200px;
    border: 2px;
    border-radius: 10px;
}

.call-action {
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.sign-up2 {
    display: flex;
    width: 150px;
    height: 40px;
    background-color: #3882F6;
    border: 3px solid #E5E7EB;
    border-radius: 10px;
}

.sign-up2:hover {
    background-color: hsl(.60, .91, .59);
  }
    
.sign-up2:active {
    background-color: rgb(56, 75, 246);
    border-color: #E5E7EB;
  }

.buttontext2 {
    display: flex;
    text-align: center;
    margin: auto;
    color: #E5E7EB;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}



.fifth-section {
    display: flex;
    font-family: "Roboto, sans-serif";
    font-weight: 300;
    background-color: #1f2937;
    height: 150px;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-size: 16px;
    color: #E5E7EB;
}
